<div class="register">
    <form class="custom-form" method="post">
      <h1>Registro</h1>
      <input class="controls" type="text" [(ngModel)]="user.email" id ="email" name="tf_email" placeholder="Usuario" required="required"
      />
      <input class="controls" type="text" [(ngModel)]="user.password" id ="password" name="tf_password" placeholder="Contraseña" required="required"
      />
      <button class="buttons" type="submit" (click)="register()">Confirmar registro</button>
    </form>
  </div>