<div class="container">
    <h1>LISTADO USUARIOS</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">EMAIL</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listUsers">
            <th scope="row">{{user.first_name}}</th>
            <th scope="row">{{user.last_name}}</th>
            <th scope="row">{{user.email}}</th>
            <th scope="row">
                <a [routerLink]="['userCrud', user.id]">
                    <button>Editar</button>
                </a>
            </th>
            <th scope="row"><button (click)="delete(user.id)">Borrar</button></th>       
        </tr>
    </tbody>
</table>
</div>