<div class="container">
    <div class="row">
        <div class="col-3" id="color">
            <p class="text-end">{{resource.pantone_value}}</p>
            <p>{{resource.color}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="name">Nombre:</label>
            <input type="text" name="name" value="{{resource.name}}" readonly>
        </div>
        <div class="col-6">
            <label for="year">Año:</label>
            <input type="text" name="year" value="{{resource.year}}" readonly>
        </div>
    </div>
</div>