h1{
    text-align: center;
    color: blue;
    background-color: black;
    padding: 10px;
}

.row{
    padding: 30px;
}


button {
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #2e518b; 
    color: #ffffff;
    border-radius: 50px; 
    width: auto;
    display: flex;
    justify-content: center;
    }