<div class="container">
    <h1>NUEVO USUARIO</h1>
<div class="row">
    <div class="col">
        <img src="" alt="">
    </div>
    <div class="col">
        <div class="row">
            <label>Nombre</label>
            <input type="text" class="input" [(ngModel)]="user.first_name">
        </div>
        <div class="row">
            <label>Email</label>
            <input type="text" class="input" [(ngModel)]="user.email">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <label>Apellido</label>
            <input type="text" class="input" [(ngModel)]="user.last_name">
        </div>
        <div class="row">
            <label>Trabajo</label>
            <input type="text" class="input" [(ngModel)]="user.job">
        </div>
    </div>
</div>
<div class="row">
    <button (click)="create()">Guardar</button>
</div>
</div>