<div class="container">
<div class="row">
    <div class="col">
        <img src="" alt="">
    </div>
    <div class="col">
        <div class="row">
            <label>Nombre</label>
            <input type="text" class="input">
        </div>
        <div class="row">
            <label>Email</label>
            <input type="text" class="input">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <label>Apellido</label>
            <input type="text" class="input">
        </div>
        <div class="row">
            <label>Trabajo</label>
            <input type="text" class="input">
        </div>
    </div>
</div>
<div class="row">
    <button>Guardar</button>
</div>
</div>