<div class="container">
    <h1>LISTA DE RECURSOS</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">AÑO</th>
            <th scope="col">COLOR</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listResource">
            <th scope="row">{{resource.first_name}}</th>
            <th scope="row">{{resource.year}}</th>
            <th scope="row">{{resource.color}}</th>
            <th scope="row"><button>Editar</button></th>       
        </tr>
    </tbody>
</table>
</div>